.App{
 background: radial-gradient(circle at 20% 20%, #001f3f, transparent 40%),
              radial-gradient(circle at 80% 80%, #004d40, transparent 40%),
              radial-gradient(circle at 60% 30%, #00bbd4d7, transparent 40%),
              #000; /* base black */
  background-blend-mode: screen;
  color: white;
}

.bumbaa{
  width: 30%;
}